<!--/. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a class="active-menu" href="{:U('Index/index')}"><i class="fa fa-dashboard"></i> 后台管理</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-desktop"></i> 资源管理<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="{:U('Urls/index')}">资源列表</a></li>
                    <li><a href="{:U('Urls/fake')}">垃圾资源</a></li>
                </ul>
            </li>
            
        </ul>

    </div>

</nav>
<!-- /. NAV SIDE  -->